<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=pageTitle%></title>
</head>
<body>
  <header>
    <div>
      <a href="/">Market</a>
      <a href="/products">Products</a>
      <a href="/add-product">Add Product</a>
      <a href="/my-product">My Products</a>
      <% if (!isAuthenticated) {%>
        <a href="/login">Login</a>
      <% } %>
      <% if (isAuthenticated) { %>
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      <% } %>
    </div>
  </header>
  <main>
    <% if (Products.length > 0) { %>
      <% Products.forEach((Product) => { %>
        <div><%= Product.title %></div>
        <div>$<%= Product.price %></div>
        <div><img src="<%= Product.imageUrl %>" alt="<%= Product.title %>" width="300" height="300"></div>
        <div><a href="/products/<%= Product._id %>" class="btn">Details</a></div>
      <% }) %>
    <% } else { %>
      <h1>No products available!</h1>
    <% } %>
  </main>
</body>
</html>
